.occupationSelectField {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
}
.occupationSelectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 840px;
    border: 2px black solid;
    overflow-y: auto;
}
.titleWord {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
}
.description {
    display: none;
    position: absolute;
    background-color: rgb(200, 200, 200);
    border: 1px solid black;
    padding: 10px;
    width: 500px;
}
.selectionTable {
    padding: 20px;
    width: 840px;
}
.occupationLabel {
    width: 100px;
}